langchain-google-genai
faiss-cpu
numpy==1.26.4
pandas==2.2.2 
python-dateutil
regex      
python-dotenv
langchain>=0.2.0
langchain-community>=0.2.0
langchain-huggingface>=0.0.3
sentence-transformers>=2.2.2
langchain_experimental
langchain_core
pydantic
transformers
torch 
accelerate
streamlit
youtube_search
youtube-transcript-api
semanticscholar
wikipedia
pytube
langchain-chroma
langsmith
openevals
boto3
boto3-stubs
scikit-learn
rank-bm25